Import danych i czytanie csv

In [1]:
import pandas as pd
breast_cancer = pd.read_csv('breast-cancer-wisconsin.data.csv', names = ["ID", "Clump_Thickness", "Uniformity_of_Cell_Size", "Uniformity_of_Cell_Shape", "Marginal_Adhesion", "Single_Epithelial_Cell_Size", "Bare_Nuclei", "Bland_Chromatin", "Normal_Nucleoli", "Mitoses", "Class"])

Wyświetlenie nagłówka

In [2]:
breast_cancer.head()

,ID,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

Wyświetlenie całości

In [3]:
breast_cancer

,ID,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1059552,1,1,1,1,2,1,3,1,1,2
24,1065726,5,2,3,4,2,7,3,6,1,4
25,1066373,3,2,1,1,1,1,2,1,1,2
26,1066979,5,1,1,1,2,1,2,1,1,2
27,1067444,2,1,1,1,2,1,2,1,1,2
28,1070935,1,1,3,1,2,1,1,1,1,2
29,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
653,1350423,5,10,10,8,5,5,7,10,1,4
654,1352848,3,10,7,8,5,8,7,4,1,4
655,1353092,3,2,1,2,2,1,3,1,1,2
656,1354840,2,1,1,1,2,1,3,1,1,2
657,1354840,5,3,2,1,3,1,1,1,1,2
658,1355260,1,1,1,1,2,1,2,1,1,2
659,1365075,4,1,4,1,2,1,1,1,1,2
660,1365328,1,1,2,1,2,1,2,1,1,2
661,1368267,5,1,1,1,2,1,1,1,1,2
662,1368273,1,1,1,1,2,1,1,1,1,2
663,1368882,2,1,1,1,2,1,1,1,1,2
664,1369821,10,10,10,10,5,10,10,10,7,4
665,1371026,5,10,10,10,4,10,5,6,3,4
666,1371920,5,1,1,1,2,1,3,2,1,2
667,466906,1,1,1,1,2,1,1,1,1,2
668,466906,1,1,1,1,2,1,1,1,1,2
669,534555,1,1,1,1,2,1,1,1,1,2
670,536708,1,1,1,1,2,1,1,1,1,2
671,566346,3,1,1,1,2,1,2,3,1,2
672,603148,4,1,1,1,2,1,1,1,1,2
673,654546,1,1,1,1,2,1,1,1,8,2
674,654546,1,1,1,3,2,1,1,1,1,2
675,695091,5,10,10,5,4,5,4,4,1,4
676,714039,3,1,1,1,2,1,1,1,1,2
677,763235,3,1,1,1,2,1,2,1,2,2
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
breast_cancer.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,683.0,1.076720e+06,620644.047655,63375.0,877617.0,1171795.0,1238705.0,13454352.0
Clump_Thickness,683.0,4.442167e+00,2.820761,1.0,2.0,4.0,6.0,10.0
Uniformity_of_Cell_Size,683.0,3.150805e+00,3.065145,1.0,1.0,1.0,5.0,10.0
Uniformity_of_Cell_Shape,683.0,3.215227e+00,2.988581,1.0,1.0,1.0,5.0,10.0
Marginal_Adhesion,683.0,2.830161e+00,2.864562,1.0,1.0,1.0,4.0,10.0
Single_Epithelial_Cell_Size,683.0,3.234261e+00,2.223085,1.0,2.0,2.0,4.0,10.0
Bare_Nuclei,683.0,3.544656e+00,3.643857,1.0,1.0,1.0,6.0,10.0
Bland_Chromatin,683.0,3.445095e+00,2.449697,1.0,2.0,3.0,5.0,10.0
Normal_Nucleoli,683.0,2.869693e+00,3.052666,1.0,1.0,1.0,4.0,10.0
Mitoses,683.0,1.603221e+00,1.732674,1.0,1.0,1.0,1.0,10.0
Class,683.0,2.699854e+00,0.954592,2.0,2.0,2.0,4.0,4.0

Odseparowanie klasy od zbioru cech

In [5]:
X = breast_cancer.drop('Class',axis=1)
y = breast_cancer['Class']

In [6]:
print (X)

          ID  Clump_Thickness  Uniformity_of_Cell_Size  \
0    1000025                5                        1
1    1002945                5                        4
2    1015425                3                        1
3    1016277                6                        8
4    1017023                4                        1
5    1017122                8                       10
6    1018099                1                        1
7    1018561                2                        1
8    1033078                2                        1
9    1033078                4                        2
10   1035283                1                        1
11   1036172                2                        1
12   1041801                5                        3
13   1043999                1                        1
14   1044572                8                        7
15   1047630                7                        4
16   1048672                4                        1
17   1049815                4                        1
18   1050670               10                        7
19   1050718                6                        1
20   1054590                7                        3
21   1054593               10                        5
22   1056784                3                        1
23   1059552                1                        1
24   1065726                5                        2
25   1066373                3                        2
26   1066979                5                        1
27   1067444                2                        1
28   1070935                1                        1
29   1070935                3                        1
..       ...              ...                      ...
653  1350423                5                       10
654  1352848                3                       10
655  1353092                3                        2
656  1354840                2                        1
657  1354840                5                        3
658  1355260                1                        1
659  1365075                4                        1
660  1365328                1                        1
661  1368267                5                        1
662  1368273                1                        1
663  1368882                2                        1
664  1369821               10                       10
665  1371026                5                       10
666  1371920                5                        1
667   466906                1                        1
668   466906                1                        1
669   534555                1                        1
670   536708                1                        1
671   566346                3                        1
672   603148                4                        1
673   654546                1                        1
674   654546                1                        1
675   695091                5                       10
676   714039                3                        1
677   763235                3                        1
678   776715                3                        1
679   841769                2                        1
680   888820                5                       10
681   897471                4                        8
682   897471                4                        8

     Uniformity_of_Cell_Shape  Marginal_Adhesion  Single_Epithelial_Cell_Size  \
0                           1                  1                            2
1                           4                  5                            7
2                           1                  1                            2
3                           8                  1                            3
4                           1                  3                            2
5                          10                  8                            7
6                           1                  1                            2
7                           2                  1                            2
8                           1                  1                            2
9                           1                  1                            2
10                          1                  1                            1
11                          1                  1                            2
12                          3                  3                            2
13                          1                  1                            2
14                          5                 10                            7
15                          6                  4                            6
16                          1                  1                            2
17                          1                  1                            2
18                          7                  6                            4
19                          1                  1                            2
20                          2                 10                            5
21                          5                  3                            6
22                          1                  1                            2
23                          1                  1                            2
24                          3                  4                            2
25                          1                  1                            1
26                          1                  1                            2
27                          1                  1                            2
28                          3                  1                            2
29                          1                  1                            1
..                        ...                ...                          ...
653                        10                  8                            5
654                         7                  8                            5
655                         1                  2                            2
656                         1                  1                            2
657                         2                  1                            3
658                         1                  1                            2
659                         4                  1                            2
660                         2                  1                            2
661                         1                  1                            2
662                         1                  1                            2
663                         1                  1                            2
664                        10                 10                            5
665                        10                 10                            4
666                         1                  1                            2
667                         1                  1                            2
668                         1                  1                            2
669                         1                  1                            2
670                         1                  1                            2
671                         1                  1                            2
672                         1                  1                            2
673                         1                  1                            2
674                         1                  3                            2
675                        10                  5                            4
676                         1                  1                            2
677                         1                  1                            2
678                         1                  1                            3
679                         1                  1                            2
680                        10                  3                            7
681                         6                  4                            3
682                         8                  5                            4

     Bare_Nuclei  Bland_Chromatin  Normal_Nucleoli  Mitoses
0              1                3                1        1
1             10                3                2        1
2              2                3                1        1
3              4                3                7        1
4              1                3                1        1
5             10                9                7        1
6             10                3                1        1
7              1                3                1        1
8              1                1                1        5
9              1                2                1        1
10             1                3                1        1
11             1                2                1        1
12             3                4                4        1
13             3                3                1        1
14             9                5                5        4
15             1                4                3        1
16             1                2                1        1
17             1                3                1        1
18            10                4                1        2
19             1                3                1        1
20            10                5                4        4
21             7                7               10        1
22             1                2                1        1
23             1                3                1        1
24             7                3                6        1
25             1                2                1        1
26             1                2                1        1
27             1                2                1        1
28             1                1                1        1
29             1                2                1        1
..           ...              ...              ...      ...
653            5                7               10        1
654            8                7                4        1
655            1                3                1        1
656            1                3                1        1
657            1                1                1        1
658            1                2                1        1
659            1                1                1        1
660            1                2                1        1
661            1                1                1        1
662            1                1                1        1
663            1                1                1        1
664           10               10               10        7
665           10                5                6        3
666            1                3                2        1
667            1                1                1        1
668            1                1                1        1
669            1                1                1        1
670            1                1                1        1
671            1                2                3        1
672            1                1                1        1
673            1                1                1        8
674            1                1                1        1
675            5                4                4        1
676            1                1                1        1
677            1                2                1        2
678            2                1                1        1
679            1                1                1        1
680            3                8               10        2
681            4               10                6        1
682            5               10                4        1

[683 rows x 10 columns]

In [7]:
print (y)

0      2
1      2
2      2
3      2
4      2
5      4
6      2
7      2
8      2
9      2
10     2
11     2
12     4
13     2
14     4
15     4
16     2
17     2
18     4
19     2
20     4
21     4
22     2
23     2
24     4
25     2
26     2
27     2
28     2
29     2
      ..
653    4
654    4
655    2
656    2
657    2
658    2
659    2
660    2
661    2
662    2
663    2
664    4
665    4
666    2
667    2
668    2
669    2
670    2
671    2
672    2
673    2
674    2
675    4
676    2
677    2
678    2
679    2
680    4
681    4
682    4
Name: Class, Length: 683, dtype: int64

Standaryzacja danych

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()

In [12]:
len(X_train)

512

In [13]:
# Fit only to the training data
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from sklearn.neural_network import MLPClassifier

In [16]:
mlp = MLPClassifier(max_iter=200, verbose=True, hidden_layer_sizes=(100,100),activation='logistic')

Opis parametrów wielowarstwowego perceptronu:
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

Przykład
mlp = MLPClassifier(max_iter=100, verbose=True, hidden_layer_sizes=(10,10),activation='logistic')
Liczba epok: 100, 2 ukryte warstwy po 10 neuronów, funkcja aktywacji sigmoidalna

In [17]:
mlp.fit(X_train,y_train)

Iteration 1, loss = 0.74104866
Iteration 2, loss = 0.66903460
Iteration 3, loss = 0.64307003
Iteration 4, loss = 0.63886795
Iteration 5, loss = 0.64003711
Iteration 6, loss = 0.63451188
Iteration 7, loss = 0.62463000
Iteration 8, loss = 0.61127363
Iteration 9, loss = 0.60163233
Iteration 10, loss = 0.59250599
Iteration 11, loss = 0.58371610
Iteration 12, loss = 0.57270122
Iteration 13, loss = 0.56008520
Iteration 14, loss = 0.54553052
Iteration 15, loss = 0.53012317
Iteration 16, loss = 0.51327056
Iteration 17, loss = 0.49474503
Iteration 18, loss = 0.47484564
Iteration 19, loss = 0.45386420
Iteration 20, loss = 0.43095800
Iteration 21, loss = 0.40710563
Iteration 22, loss = 0.38252612
Iteration 23, loss = 0.35760953
Iteration 24, loss = 0.33268550
Iteration 25, loss = 0.30794041
Iteration 26, loss = 0.28450288
Iteration 27, loss = 0.26179084
Iteration 28, loss = 0.24119917
Iteration 29, loss = 0.22210381
Iteration 30, loss = 0.20531962
Iteration 31, loss = 0.18942208
Iteration 32, loss = 0.17572028
Iteration 33, loss = 0.16407589
Iteration 34, loss = 0.15351940
Iteration 35, loss = 0.14443103
Iteration 36, loss = 0.13707089
Iteration 37, loss = 0.13011437
Iteration 38, loss = 0.12422071
Iteration 39, loss = 0.11949408
Iteration 40, loss = 0.11524739
Iteration 41, loss = 0.11140377
Iteration 42, loss = 0.10837731
Iteration 43, loss = 0.10569270
Iteration 44, loss = 0.10341825
Iteration 45, loss = 0.10117756
Iteration 46, loss = 0.09942268
Iteration 47, loss = 0.09784263
Iteration 48, loss = 0.09650559
Iteration 49, loss = 0.09520699
Iteration 50, loss = 0.09407031
Iteration 51, loss = 0.09321439
Iteration 52, loss = 0.09222529
Iteration 53, loss = 0.09144827
Iteration 54, loss = 0.09088284
Iteration 55, loss = 0.09014085
Iteration 56, loss = 0.08948470
Iteration 57, loss = 0.08892024
Iteration 58, loss = 0.08845117
Iteration 59, loss = 0.08791071
Iteration 60, loss = 0.08753277
Iteration 61, loss = 0.08708329
Iteration 62, loss = 0.08674166
Iteration 63, loss = 0.08636382
Iteration 64, loss = 0.08609973
Iteration 65, loss = 0.08575340
Iteration 66, loss = 0.08542643
Iteration 67, loss = 0.08521433
Iteration 68, loss = 0.08486060
Iteration 69, loss = 0.08472995
Iteration 70, loss = 0.08433782
Iteration 71, loss = 0.08416618
Iteration 72, loss = 0.08396457
Iteration 73, loss = 0.08377987
Iteration 74, loss = 0.08352865
Iteration 75, loss = 0.08329506
Iteration 76, loss = 0.08311857
Iteration 77, loss = 0.08287336
Iteration 78, loss = 0.08264669
Iteration 79, loss = 0.08259405
Iteration 80, loss = 0.08249714
Iteration 81, loss = 0.08220352
Iteration 82, loss = 0.08207712
Iteration 83, loss = 0.08187387
Iteration 84, loss = 0.08175616
Iteration 85, loss = 0.08152725
Iteration 86, loss = 0.08143924
Iteration 87, loss = 0.08119830
Iteration 88, loss = 0.08114589
Iteration 89, loss = 0.08095490
Iteration 90, loss = 0.08085020
Iteration 91, loss = 0.08066597
Iteration 92, loss = 0.08053240
Iteration 93, loss = 0.08044857
Iteration 94, loss = 0.08027878
Iteration 95, loss = 0.08011623
Iteration 96, loss = 0.07994916
Iteration 97, loss = 0.07976648
Iteration 98, loss = 0.07973045
Iteration 99, loss = 0.07976572
Iteration 100, loss = 0.07958597
Iteration 101, loss = 0.07944489
Iteration 102, loss = 0.07921075
Iteration 103, loss = 0.07910309
Iteration 104, loss = 0.07894620
Iteration 105, loss = 0.07892222
Iteration 106, loss = 0.07888719
Iteration 107, loss = 0.07883371
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 100), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=True, warm_start=False)

In [18]:
predictions = mlp.predict(X_test)

In [19]:
predictions

array([2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2,
       2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2,
       2, 4, 4, 2, 2, 4, 2, 4, 4, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4,
       2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 4, 2,
       2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4,
       2, 2, 4, 4, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2])

In [20]:
y_test

337    2
136    2
198    2
199    4
524    2
327    2
249    2
274    4
350    2
560    2
410    4
405    2
617    4
318    2
456    2
210    2
680    4
610    4
532    2
320    4
178    4
34     2
80     2
328    2
449    2
59     2
486    2
662    2
225    4
55     4
      ..
293    4
189    2
444    2
232    4
184    4
468    4
190    2
471    2
488    2
41     4
401    4
393    2
652    4
635    2
570    2
122    4
18     4
349    2
646    2
143    2
419    2
450    4
255    4
106    2
659    2
583    2
640    2
81     2
330    4
678    2
Name: Class, Length: 171, dtype: int64

WYŚWIETLENIE MACIERZY BŁĘDÓW

In [21]:
from sklearn.metrics import classification_report,confusion_matrix

In [22]:
print(confusion_matrix(y_test,predictions))

[[109   3]
 [  1  58]]

In [23]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          2       0.99      0.97      0.98       112
          4       0.95      0.98      0.97        59

avg / total       0.98      0.98      0.98       171

#prawdziwie pozytywna (ang. true positive, TP)
#prawdziwie negatywna (ang. true negative, TN)
#fałszywie pozytywna (ang. false positive, FP), błąd pierwszego rodzaju
#fałszywie negatywna (ang. false negative, FN), błąd drugiego rodzaju
#czułość (ang. sensitivity, recall) lub odsetek prawdziwie pozytywnych (ang. true positive rate, TPR)
TPR = TP/ P = TP (TP+FN)
#swoistość (ang. specificity, SPC) lub odsetek prawdziwie negatywnych (ang. true negative rate, TNR)
TNR = TN/N = TN /(FP+TN)
#precyzja (ang. precision, lub positive predictive value, PPV – wartość predykcyjna dodatnia)
precyzja = TP/(TP+FP)
#dokładność (ang. accuracy, ACC)
ACC = (TP+TN)/(P+N)

![Macierz błędów](img/macierz_bledow.png)